.container{
    background-image: url(././../../../../public/images/backgroundimage/FORME_1_ORANGE_CLAIR.png);
        background-repeat: no-repeat;
        background-position: 0% 0;
        background-size: contain;
.title{
    text-align: center;
}
}

@media (max-width : 800px){
    .container{
        background-image: url(././../../../../public/images/backgroundimage/FORME_1_ORANGE_CLAIR.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}