.btn {
    border-radius: 15px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &__primary {
        background: #4E888F;
        color: white;
        &:hover {
            background: white;
            border: 1px solid black;
            color: #4E888F;
        }
    }
    &__secondary {
        background: white;
        border: 1px solid black;
        color: #4E888F;
        &:hover {
            background: #4E888F;
            color: white;
        }
    }
}

@media (max-width : 800px){
    .btn{
        font-size: 7px;
    }
}