.wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    border-bottom: 1px solid #4E888F;
    .left {
        display: flex;
        align-items: center;
        gap: 12px;
        img {
            width : 10vw;
            height : 10vh;
            max-width : 150px;
            max-height : 150px;
        }
    }
    span {
        font-weight: bolder;
        color: #9d9d9d;
        font-size: 14px;
    }
    .nav {
        &__list {
            padding-right: 10px;
            display: flex;
            .icon{
                color: #4E888F;
                border: 1px solid black;
                border-radius: 15px;
                display: inline-block;
                padding: 0px 10px;
                &:hover{
                    background-color: #4E888F;
                }
            }
        }
        &__item {
            justify-items:end;
            margin: 0px 10px;
            a {
                color: black;
                text-decoration: none;
                font-size: 14px;
                &:hover {
                    color: black;
                }
            }
        }
        .dropdown{
            color: #FF5429;
            font-size: 14px;
            border: 1px solid black;
            border-radius: 15px;
            display: inline-block;
            padding: 10px 15px;
            button{
                cursor: pointer;
                .menu{
                    padding-top: 10px;
                    .menu_item{
                        text-align: end;
                        padding:2px;
                        color:#4E888F;
                    }
                }
            }
            &:hover {
                color:white;
                background-color: #FF5429;
            }
        }
    }
}

//responsive
@media (max-width : 800px){
    .wrapper{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
            display: flex;
            align-items: center;
            gap: 12px;
            img {
                width : 0;
                height : 0;
            }
        }
        span {
            font-weight: bolder;
            color: #9d9d9d;
            font-size: 7px;
        }
        .nav{
            &__list {
                padding: 0;
            }
            &__item {
                a{
                    font-size: 7px;
                }  
            }
            .dropdown{
                font-size: 7px;
            }  
        }
    }  
}


