.formulaire {
    background-image: url(././../../../../../public/images/backgroundimage/FORME_1_ORANGE_CLAIR.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    margin: 50px 0 50px;
    padding : 0px 40px 50px;
    border: 1px solid #4E888F;
    text-align: start;
    .title{
        text-align: center;
    }
}