.box{
    padding: 30px 0px 20px;
    background-color: #4E888F;
    bottom: 0;
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        .row {
            padding-left: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
            
            @media (max-width: 1000px) {
                grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
            }
            .column {
                display: flex;
                flex-direction: column;
                text-align: start;
                padding: 0 5 0;
                .about{
                    text-align: center;
                    img{
                        width : 100px;
                        height : 100px;
                    }
                    .informations{
                        text-align: start;
                        font-size: 14px;
                    }
                }
                a {
                    text-align: start;
                    color: #fff;
                    margin-bottom: 20px;
                    font-size: 14px;
                    text-decoration: none;
                    &:hover {
                        color: black;
                        transition: 200ms ease-in;
                    }
                }
            }
        }
        .copyright {
            border-top: 1px solid #000;
            color:black;
            padding: 10px 20px 0;
            font-size: 14px;
        }
    }
}

@media (max-width : 800px){
    .box{
        padding: 0;
        .container {
            .row {
                .column {
                    .about{
                        img{
                            width : 80px;
                            height : 80px;
                        }

                    }
                }
            }
            .copyright {
                text-align: center;
                padding:10px;
            }
        }
    }
}


    