.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
    .left__part {
        .title{
            color:red;
        }
        width: 50%;
        height: 100%;
        align-items: center;
        .form__wrapper {
            margin : auto 50px;
        }
    }
    .right__part {
        width: 50%;
        .wrapper {
            justify-content: center;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}